html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;   
font: inherit;  
vertical-align: baseline;
box-sizing: border-box;
max-width: 100%;
font-size: 62.5%;
/* border: solid grey 1px; */
}

/* $ash-gray: #cad2c5ff;
$dark-sea-green: #84a98cff;
$hookers-green: #52796fff;
$dark-slate-gray: #354f52ff;
$charcoal: #2f3e46ff; */

*{
    background-color: #cad2c5ff;
}
header.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-image: url("succulent-corner.jpg");
    background-color: #52796fff;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin: 5% 19%;
    border: solid #52796fff 3px;
    margin-bottom: 0;
    justify-content: space-between;
}
.home h1{
    font-size: 10rem;
    background-color: transparent;
    color: #354f52ff;
}
nav{
    display: flex;
    font-size: 4rem;
    align-items: center;
    width: 96%;
    text-align: center;
    justify-content: space-between;
    margin: 3%;
    background-color: transparent;
}
nav a{
    padding: 1%;
    width:20%;
    text-decoration: none;
    color: #2f3e46ff;
    background-color: #84a98cff;
    border: solid #52796fff 3px;
    border-radius:50%;
}
p.home{
display: flex;
font-size: 2rem;
text-align: center;
width: auto;
margin: 3% 20%;
color: #2f3e46ff;
}
section.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 10%;
    margin-bottom: 3%;
}
div.feature{
    width:80%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
div.feature img{
    width: 40%;
}
div.text{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: auto;
    font-size: 3.5rem;
    color: #2f3e46ff;
}
div.text h3{
    font-size: 5rem;
    color: #52796fff;
}
div.text p{
    margin: 10%;
    margin-left: 0;
    margin-right: 30%;
}


header.about{
    display:flex;
    margin:5% 15%;
}
.about h1{
    font-size: 8rem;
    color: #52796fff;
}
section.about{
    display: flex;
    font-size: 4rem;
    justify-content: space-between;
    margin: 10%;
    width: auto;
    flex-wrap: wrap;
}
div.bio{
    padding:3%;
    width:28%;
    margin: 4% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2f3e46ff;
    justify-content: space-between;
}
.about h2{
    font-size: 4rem;
}
p.about{
    font-size: 3rem;
    margin: 0 15%;
    color: #354f52ff;
}
nav.about{
    justify-content: center;
    width: auto;
}